---
import Container from "@/components/Container.astro";
import MainLayout from "@/components/MainLayout.astro";
import PostCard from "@/components/PostCard.astro";
import SubscriptionForm from "@/components/SubscriptionForm.astro";
import TransitionWrapper from "@/components/TransitionWrapper.astro";
import TwoColFeaturedPostsGrid from "@/components/TwoColFeaturedPostsGrid.astro";
import device from "@/images/6123fc6440d297ef079b81ce_device_000001.jpg";
import PostService from "@/services/PostService";

const latestPosts = await new PostService().getLatestPosts();

const latestFourPosts = latestPosts?.slice(0, 4);

const tenRandomPosts = latestPosts
  ?.slice(0, 10)
  .reduceRight((acc, _, i, array) => {
    let j = Math.floor(Math.random() * (i + 1));

    const firstItem = array[i];
    const secondItem = array[j];

    if (!firstItem || !secondItem) return acc;

    acc[i] = firstItem;
    acc[j] = secondItem;

    return acc;
  }, [] as typeof latestPosts);
---

<MainLayout title="Home">
  <Fragment slot="header">
    <div class="hidden lg:block relative">
      <div class="absolute inset-0 -z-10">
        <img src={device} alt="Device" class="object-cover h-full w-full" />
      </div>
      <Container widthClass={"w-8/12"} maxWidthClass={"max-w-screen-2xl"}>
        <div class="lg:grid lg:grid-cols-2">
          <SubscriptionForm
            title="A blog that pe ople will actually want to read"
            content="People use Bulletin to share big ideas with the world on a regular basis with a focus on accessibility and usability."
            buttonText="Try It"
          />
          <div>
            <!-- This is a fake div don't move -->
          </div>
        </div>
      </Container>
    </div>

    <div class="lg:hidden">
      <div class="bg-violet-600">
        <SubscriptionForm
          title="A blog that people will actually want to read"
          content="People use Bulletin to share big ideas with the world on a regular basis with a focus on accessibility and usability."
          buttonText="Try It"
        />
      </div>
    </div>
  </Fragment>

  <Fragment slot="main">
    <section class="grid gap-2 px-4 py-10" aria-labelledby="featured-posts">
      <TransitionWrapper>
        <Container>
          <TwoColFeaturedPostsGrid posts={latestPosts} />
        </Container>
      </TransitionWrapper>
    </section>

    <section class="px-6 py-8" aria-labelledby="latest-posts">
      <TransitionWrapper>
        <Container maxWidthClass={"max-w-screen-xl"}>
          <div class="grid gap-6">
            <h2 id="latest-posts">Latest Posts</h2>
            <ul class="grid gap-4 lg:flex">
              {
                (function* () {
                  if (latestFourPosts.length === 0) return;
                  for (const latestPost of latestFourPosts) {
                    yield (
                      <li class="flex-1">
                        <PostCard
                          class={"h-full"}
                          headerClass={"rounded-2xl"}
                          footerClass={"px-2 py-4"}
                          title={latestPost.title}
                          image={latestPost.image}
                          thumbnail={latestPost.thumbnail}
                          author={latestPost.author}
                          pubDate={latestPost.pubDate}
                          tag={latestPost.tag}
                          title={latestPost.title}
                          footerClass={"w-full"}
                        />
                      </li>
                    );
                  }
                })()
              }
            </ul>
          </div>
        </Container>
      </TransitionWrapper>
    </section>

    <section class="grid gap-4 px-4 py-6" aria-labelledby="more-posts">
      <TransitionWrapper>
        <Container>
          <div class="grid gap-12">
            <h2 id="more-posts">More Posts</h2>
            <ul class="grid gap-4 lg:grid-cols-2 lg:grid-rows-5">
              {
                (function* () {
                  if (tenRandomPosts?.length === 0) return;
                  for (const randomPost of tenRandomPosts) {
                    yield (
                      <li>
                        <PostCard
                          class={"lg:flex gap-4"}
                          headerClass={"rounded-2xl basis-2/5"}
                          title={randomPost.title}
                          image={randomPost.image}
                          thumbnail={randomPost.thumbnail}
                          author={randomPost.author}
                          pubDate={randomPost.pubDate}
                          tag={randomPost.tag}
                          title={randomPost.title}
                          footerClass={"basis-3/5"}
                        />
                      </li>
                    );
                  }
                })()
              }
            </ul>
          </div>
        </Container>
      </TransitionWrapper>
    </section>
  </Fragment>
</MainLayout>
